$primary-color: #ffe7d3;
$accent-color: #ff652f;
$primary-text-color: #091E42;
$text-color: #fff;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: $primary-text-color;
}

header {
    .navbar {
        padding: 8px 142px;
        display: flex;
        align-items: center;
    }

    img {
        width: 120px;
    }

    ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        gap: 20px;
        align-items: center;
        text-align: center;
    }
}